* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-image: url(img/fondoregistro.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

form {
    display: flex;
    height: 100vh;
    width: 100%;
    
}

.formulario h4 {
    font-size: 2.5em;
    text-transform: uppercase;
    color: white;
    text-align: center;
    margin: 15px;
    margin-top: 0;
}

.formulario {
    width: 400px;
    background: rgb(44, 42, 42)  ;
    margin:auto;
    margin-top: 150px;
    border-radius: 4px;
    padding: 20px;
    box-shadow: 7px 13px 30px #000;
}

.formulario .inputs {
    display: block;
    width: 100%;
    height: 35px;
    margin-bottom: 15px;
    padding: 15px;
    font-size: 16px;
    background: none;
    border: 1px solid rgb(0, 0, 0);
    color: white;
}

.formulario span, .formulario span a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.formulario span a:hover{
    text-decoration: underline;
}

.formulario input[type="submit"]{
    display: block;
    margin: 15px auto;
    margin-bottom: 0;
    padding: 15px;
    width: 50%;
    font-size: 1.3em;
    border-radius: 4px;
    color: white;
    background: #252323;
    font-weight: bold;
}